@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: 'pseudoelements';
}
@import 'tw-animate-css';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: #18181b; /* page background */
  --color-foreground: #f4f5f2; /* primary text */

  --color-surface: #27272a; /* cards, modals, navs */
  --color-surface-border: #3f3f42;
  --color-surface-foreground: #ffffff;

  --color-header: #303036;
  --color-header-foreground: #ffffff;

  --color-popover: #27272a;
  --color-popover-border: #3f3f42;
  --color-popover-foreground: #ffffff;

  --color-primary: #2d235e; /* buttons, links */
  --color-primary-foreground: #f4f5f2;

  --color-secondary: #222131; /* subtle buttons */
  --color-secondary-foreground: #e3e3e3;

  --color-muted: #1c1c21; /* darker background */
  --color-muted-foreground: #71717a; /* low-importance text */
  --color-muted-foreground-white: #d4d4d8;

  --color-accent: #512ea8; /* badges, inputs */
  --color-accent-border: #6745ba; /* badges, inputs */
  --color-accent-foreground: #ffffff;

  --color-destructive: #ff4d4f; /* error */
  --color-destructive-border: #ff8a8c;
  --color-destructive-foreground: #ffffff;

  --color-success: #2cc882; /* confirmations */
  --color-success-foreground: #ffffff;

  --color-border: #3f3f42;
  --color-border-hover: #71717a;
  --color-input: #222222;
  --color-ring: #5b21b6;

  --color-error: #f44336;

  --radius: 0.5rem;

  --font-display: 'Inter';
}

@layer base {
  body {
    @apply bg-background text-foreground;
    @apply font-display;
  }
}

// Hide Scrollbar 
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  @apply scrollbar scrollbar-hover:scrollbar-thumb-muted-foreground
  scrollbar-thumb-muted-foreground/70 scrollbar-track-surface scrollbar-w-2.5 scrollbar-thumb-rounded-4xl;
}

/* @theme {
  --color-background: #27272a;
  --color-surface: #2d2e36;
  --color-surface-variant: #373840;

  --color-text-primary: #e8e9ed;
  --color-text-secondary: #b1b3ba;
  --color-text-tertiary: #8f909a;

  --color-success: #4caf50;
  --color-warning: #ff9800;
  --color-info: #2196f3;

  --color-border: #404148;
  --color-border-light: #4a4b52;

  --color-primary: #4a6ad0;
  --color-primary-variant: #799fcd;
  --color-accent: #7c3aed;
  --color-accent-variant: #a855f7;

  --color-code-bg: #1e1f22;
  --color-code-border: #383940;

 --color-syntax-keyword: #569cd6;
  --color-syntax-string: #ce9178;
  --color-syntax-comment: #6a9955;
  --color-syntax-number: #b5cea8;
  --color-syntax-function: #dcdcaa;

  --font-inter: 'Inter', sans-serif; 
} 
*/

/* .prose code::before,
.prose code::after {
  content: '';
}

.gutter {
  background-color: #2d2d2d;
  background-clip: padding-box;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  width: 8px;
}

.cm-gutterElement:has(> span[title='Fold line']) {
  display: none;
}

.cm-gutterElement:has(> span[title='Unfold line']) {
  display: none;
}

.cm-lineNumbers .cm-gutterElement {
  color: #94a3b8;
  border-radius: 8px;

  user-select: none;
}

.cm-lineNumbers .cm-gutterElement:hover {
  background-color: #918dec;
  color: #fff;
} */
