import React from 'react';

export interface {{pascalCase name}}Props {
  // define props
  test?: string;
}

export const {{pascalCase name}} = ({ test }: {{pascalCase name}}Props) => {
  return <div>{{pascalCase name}} works! {test}</div>;
};
